.service {
  background-image: url("https://i.ibb.co/GMFDdxY/services-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service .service_card {
  background-color: transparent;
  border: none;
  text-align: center;
}
.service_card img {
  width: 56px;
  height: auto;
}
.service_card .serviceTitle {
  color: #00afaf;
  font-size: 25px;
  font-weight: 600;
}
.service_card p {
  color: #fff;
  font-size: 18px;
}
