.banner {
  background-image: linear-gradient(
      rgba(25, 50, 76, 0.8),
      rgba(31, 63, 95, 0.8)
    ),
    url("../../images/banner/herobg.min_.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 99.9vh;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 99.9vh, 0 85vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_content {
  text-align: center;
  color: #fff;
}
.banner_content h1 {
  font-size: 48px;
  font-weight: bold;
}
.banner_content p {
  font-size: 18px;
  margin: 20px 0 40px;
}
