.guest_posting_banner {
  background-color: #00afaf;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 120px 0;
}
.content h1 {
  color: #1f3f5f;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.banner_form_container {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 0px rgb(0 0 0 / 45%);
  max-width: 530px;
  margin-left: auto;
  background: #fff;
}
.banner_form_container h2 {
  font-size: 24px;
  font-weight: bold;
}
.banner_form_container p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.banner_form input,
.banner_form textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  color: #000;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  transition: all 0.5s;
  background: transparent;
}
